@font-face {
    font-family: 'UncutSans';
    src: url('UncutSans-Variable.ttf') format('truetype')
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'UncutSans', sans-serif;
    font-weight:100;
    background-color: tomato;
    display: flex;
    flex-direction: column;
}

#searchAreaLarge {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(64,0,255,1) 73%, rgba(255,0,0,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchArea {
    width: 100%;
    text-align: center;
}

.searchBarAfter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    height: auto;
}

#searchAreaLarge p, input:focus, button:hover {
    opacity: 1;
    outline: none;
}

#searchAreaLarge p, label, input, button {
    color: white;
    font-size: 4rem;
    margin: 0;
}

label {
    opacity: 0.5;
}

input {
    width: 600px;
    height: 90px;
}

input, button {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 30px;
    color: white;
    font-family: 'UncutSans', sans-serif;
    font-weight:100;
    opacity: 0.5;
    padding: 10px;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#weatherResults {
    background-color:violet;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 0 20px 0;
}

#weatherResults div {
    width: 100%;
    border: 1px solid black;
    background-color: transparent;
}

#locationSection {
    height: 25%;
    display: flex;
    flex-direction: row;
}

#locationSection div,  #forecastSection div {
    flex: 1;
    background-color: antiquewhite;
}

#weatherSection {
    height: 50%;
}

#forecastSection {
    height: 25%;
    display: flex;
    flex-direction: row;
}