@font-face {
    font-family: 'UncutSans';
    src: url('UncutSans-Variable.ttf') format('truetype')
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'UncutSans', sans-serif;
    font-weight:100;
    background-color: black;
    display: flex;
    flex-direction: column;
}

#searchAreaLarge {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(64,0,255,1) 73%, rgba(255,0,0,1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#searchArea {
    width: 100%;
    text-align: center;
}

.searchBarAfter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    height: auto;
}

#searchAreaLarge p, input:focus, button:hover {
    opacity: 1;
    outline: none;
}

#searchAreaLarge p, label, input, button {
    color: white;
    font-size: 4rem;
    margin: 0;
}

label {
    opacity: 0.5;
}

input {
    width: 600px;
    height: 90px;
}

input, button {
    background-color: transparent;
    border: white 1px solid;
    border-radius: 30px;
    color: white;
    font-family: 'UncutSans', sans-serif;
    font-weight:100;
    opacity: 0.5;
    padding: 10px;
}

button {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

#weatherResults {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 27%, rgba(0, 60, 237, 1) 57%, rgba(66, 165, 255, 1) 78%, rgba(55, 255, 254, 1) 97%);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px 100px 20px 100px;
    animation: fadeAndMove 1s ease-in-out;
  }

#weatherResults div {
    background-color: transparent;
    border: 1px solid black;
}

/* standard font size */
#locationSection p, #weatherSection p, #forecastSection p {
    margin: 5px;
    font-size: 1.5rem;
}

/* top date header */

#locationSection {
    height: 25%;
    display: flex;
    flex-direction: row;
}

#townSide, #dateSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#townSide > :first-child, #dateSide > :first-child {
    font-size: 4rem;
}

#initialResults > :first-child {
    font-size: 8rem;
    text-align: center;
}

#dateSide {
    align-items: flex-end;
}


/* results area */

#weatherSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    height: 45%;
    color: aliceblue;
}

/*middle section, specific days*/

#resultsLeft {
    text-align: right;
}

#resultsMiddle {
    text-align: left;
}

#resultsLeft > :nth-child(2),  #resultsMiddle > :nth-child(2){
    font-size: 8rem;
    padding-left: 25px;
    padding-right: 25px;
}

#resultsLeft > :first-child,  #resultsMiddle > :first-child {
    text-align: center;
}







#locationSection div,  #forecastSection div {
    flex: 1;
}

#forecastSection {
    height: 30%;
    display: flex;
    flex-direction: row;
}

#forecastSection div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: aliceblue;
}

@keyframes fadeAndMove {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  